# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/inspectionProfiles/
.idea/workspace.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/dataSources/
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_google_inject_extensions_guice_multibindings_3_0.xml
.idea/libraries/Maven__com_google_inject_guice_3_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_3.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/sqldialects.xml
.idea/uiDesigner.xml
